# 1. Ignore files
*.log
config_paths.py
test_kenneth_data.ipynb

# 2. Ignore folders
test/
results_*/

# 3. Ignore unique files
# test.ipynb
TODO.md

# 4. Ignore Python bytecode cache directory
__pycache__/